extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
  +alert-ok(5000)
  +alert-err(5000)

  .container.my-5
    .row.justify-content-center
      .col-12.col-lg-10
        .d-flex.justify-content-between.align-items-center.mb-4
          h1.mb-0
            i.fas.fa-edit.mr-2
            | Sửa sản phẩm
          a.btn.btn-light(href=`${prefixAdmin}/products`)
            i.fas.fa-arrow-left.mr-2
            | Quay lại

        if product
          .card.product-edit-form
            .card-header.bg-primary.text-white.d-flex.justify-content-between.align-items-center
              h5.mb-0
                i.fas.fa-info-circle.mr-2
                | Thông tin sản phẩm
              span.badge.badge-light
                i.fas.fa-calendar.mr-2
                | ID: #{ product._id }

            .card-body
              form#form-edit-product(
                action=`${prefixAdmin}/products/edit/${product._id}?_method=PATCH`,
                method="POST",
                enctype="multipart/form-data"
              )
                .row
                  .col-md-8
                    .form-group.mb-3
                      label.form-label(for="title")
                        i.fas.fa-heading.mr-2
                        | Tiêu đề
                      input#title.form-control(
                        type="text",
                        name="title",
                        required,
                        value=product.title,
                        placeholder="Nhập tiêu đề sản phẩm..."
                      )

                    .form-group.mb-3
                      label.form-label(for="product_category_id")
                        i.fas.fa-folder.mr-2
                        | Danh mục
                      select#product_category_id.form-control(name="product_category_id")
                        option(value="") -- Chọn danh mục --
                        if (category)
                          +select-tree(category, 1, product.product_category_id)

                    .form-group.mb-3
                      label.form-label(for="desc")
                        i.fas.fa-align-left.mr-2
                        | Mô tả
                      textarea#desc.form-control(name="description", rows="5", placeholder="Nhập mô tả sản phẩm...") #{ product.description }

                  .col-md-4
                    .form-group.mb-3(upload-image)
                      label.form-label(for="thumbnail")
                        i.fas.fa-image.mr-2
                        | Ảnh sản phẩm
                      input#thumbnail.form-control-file(
                        type="file",
                        name="thumbnail",
                        accept="image/*",
                        upload-image-input
                      )
                      if product.thumbnail
                        img.image-preview(src=product.thumbnail, upload-image-preview, alt="Ảnh sản phẩm")

                    .form-group.mb-3
                      label.form-label(for="price")
                        i.fas.fa-tag.mr-2
                        | Giá
                      .input-group
                        input#price.form-control(type="number", name="price", value=product.price, min="0")
                        .input-group-append
                          span.input-group-text VNĐ

                    .form-group.mb-3
                      label.form-label(for="discount")
                        i.fas.fa-percent.mr-2
                        | Giảm giá
                      input#discount.form-control(
                        type="number",
                        name="discountPercentage",
                        value=product.discountPercentage,
                        min="0",
                        max="100"
                      )

                    .form-group.mb-3
                      label.form-label(for="stock")
                        i.fas.fa-boxes.mr-2
                        | Số lượng
                      input#stock.form-control(type="number", name="stock", value=product.stock, min="0")

                    .form-group.mb-3
                      label.form-label(for="position")
                        i.fas.fa-sort-numeric-down.mr-2
                        | Vị trí
                      input#position.form-control(type="number", name="position", value=product.position, min="1")

                    .form-group.mb-4
                      label.form-label.d-block
                        i.fas.fa-toggle-on.mr-2
                        | Trạng thái
                      .btn-group.btn-group-toggle.w-100(data-toggle="buttons")
                        label.btn.btn-outline-success.active(class=product.status === "active" ? "active" : "")
                          input#statusActive(
                            type="radio",
                            name="status",
                            value="active",
                            checked=product.status === "active"
                          )
                          i.fas.fa-check.mr-2
                          | Hoạt động
                        label.btn.btn-outline-secondary(class=product.status === "inactive" ? "active" : "")
                          input#statusInactive(
                            type="radio",
                            name="status",
                            value="inactive",
                            checked=product.status === "inactive"
                          )
                          i.fas.fa-times.mr-2
                          | Dừng

                .text-center.mt-4
                  button.btn.btn-primary.btn-lg(type="submit")
                    i.fas.fa-save.mr-2
                    | Lưu thay đổi
        else
          .alert.alert-warning
            i.fas.fa-exclamation-triangle.mr-2
            | Không tìm thấy thông tin sản phẩm

  script(src="/admin/js/product.js")
