extends ../../layouts/default.pug

block main
  h1.mb-4 Danh mục sản phẩm

  //- Card chứa danh sách sản phẩm
  .card.mb-3.shadow-sm
    .card-header.bg-gradient-primary.text-white.d-flex.justify-content-between.align-items-center
      span Danh mục sản phẩm
      a(
        href=`${prefixAdmin}/product-category/create`
        class="btn btn-light btn-sm"
      )
        i.fas.fa-plus.mr-2
        | Thêm danh mục

    .card-body
      .row
        .col-12
          .table-responsive
            table.table.table-hover.table-sm
              thead
                tr
                  th
                    input(type="checkbox" name="checkall")
                  th STT
                  th Hình ảnh
                  th Tiêu đề
                  th Vị trí
                  th Trạng thái
                  th.text-right Hành động

              tbody
                each item, index in products
                  tr
                    td
                      input(type="checkbox" name="id" value=item.id)
                    td #{index + 1}
                    td
                      .product-image-container
                        img(
                          src=item.thumbnail
                          alt=item.title
                          class="product-image"
                        )
                    td #{item.title}
                    td
                      input(
                        type="number"
                        name="position"
                        value=item.position
                        style="width: 60px;"
                        min="1"
                        class="form-control form-control-sm"
                      )
                    td
                      if item.status === "active"
                        button(
                          button-change-status
                          class="badge badge-success p-2"
                          data-status="active"
                          data-id=item.id
                        ) Hoạt động
                      else
                        button(
                          button-change-status
                          class="badge badge-danger p-2"
                          data-status="inactive"
                          data-id=item.id
                        ) Dừng hoạt động
                    td.text-right
                      .btn-group
                        a(
                          href=`${prefixAdmin}/products/detail/${item.id}`
                          class="btn btn-info btn-sm mr-1"
                          title="Chi tiết"
                        )
                          i.fas.fa-eye
                        a(
                          href=`${prefixAdmin}/products/edit/${item.id}`
                          class="btn btn-warning btn-sm mr-1"
                          title="Sửa"
                        )
                          i.fas.fa-edit
                        button(
                          class="btn btn-danger btn-sm"
                          data-id=item.id
                          button-delete
                          title="Xóa"
                        )
                          i.fas.fa-trash

  //- Liên kết file CSS riêng
  link(rel="stylesheet", href="/css/product-category.css")
