extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/table-tree.pug

block main
  +alert-ok(5000)

  h1.mb-4 Danh sách danh mục

  //- Bộ lọc và tìm kiếm
  .card.mb-4.shadow-sm
    .card-header.bg-gradient-primary.text-white.d-flex.justify-content-between.align-items-center
      span Bộ lọc và tìm kiếm
      a.btn.btn-light.btn-sm(href=`${prefixAdmin}/product-category/create`)
        i.fas.fa-plus.mr-2
        | Thêm danh mục

    .card-body
      .row
        .col-md-6.mb-3
          +filter-status(filterStatus)
        .col-md-6.mb-3
          +search(keyword)

  //- Danh sách sản phẩm
  .card.mb-4.shadow-sm
    .card-header.bg-gradient-primary.text-white Danh sách danh mục
    .card-body
      .row.mb-3
        .col-md-8.mb-3
          +form-change-multi(`${prefixAdmin}/product-category/change-multi?_method=PATCH`)
        .col-md-4.text-right
          a.btn.btn-success.btn-sm(href=`${prefixAdmin}/product-category/create`)
            i.fas.fa-plus.mr-2
            | Thêm danh mục

      .table-responsive
        table.table.table-hover.table-sm(checkbox-multi)
          thead
            tr
              th
                input(type="checkbox", name="checkall")
              th STT
              th Hình ảnh
              th Tiêu đề
              th Vị trí
              th Trạng thái
              th.text-right Hoạt động

          tbody
            +table-tree(products)

  //- Form ẩn để thay đổi trạng thái và xóa
  form#form-change-status(
    action="",
    method="POST",
    data-path=`${prefixAdmin}/product-category/change-status`,
    style="display: none"
  )
    input#input-status(type="hidden", name="status")
    input#input-id(type="hidden", name="id")

  form#form-delete-status(
    action="",
    method="POST",
    data-path=`${prefixAdmin}/product-category/delete`,
    style="display: none"
  )
    input#input-status(type="hidden", name="status")
    input#input-id(type="hidden", name="id")

  //- Script xử lý danh mục
  script(src="/admin/js/product.js")

  //- Liên kết file CSS riêng
  link(rel="stylesheet", href="/css/style.css")
